<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
    
    Test Project
-->
<configuration>
  <connectionStrings>
    <add name="ONTHESPOT" connectionString="SERVER=192.168.10.16;DATABASE=ON_THE_SPOT;USER ID=MANUAL_DEBIT;PASSWORD=prodsql@2015;" providerName="System.Data.SqlClient"/>
    <add name="ORACONN" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;" providerName="System.Data.OracleClient"/>
    <add name="ORATAKA" connectionString="Data Source=TSTRI;User ID=hnba_crc;Password=HNBACRC;" providerName="System.Data.OracleClient"/>
    <add name="CGConnectionString" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;" providerName="System.Data.OracleClient"/>
    <!--<add name="CGConnectionString" connectionString="  SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.107)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=crctest))); uid=hnba_crc;pwd=HNBACRC;" providerName="System.Data.OracleClient"/>-->
    <add name="ORADR" connectionString="Data Source=TESTCRC;User ID=iims_uwr;Password=iims;" providerName="System.Data.OracleClient"/>
    <add name="ORADRSITE" connectionString="Data Source=PRODSTDBY;User ID=hnba_crc;Password=HNBACRC;" providerName="System.Data.OracleClient"/>
    <add name="ORAWF" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;" providerName="System.Data.OracleClient"/>
    <add name="ORAHR" connectionString="Data Source=HNBHRM;User ID=hnba_sp;Password=hnbasp;" providerName="System.Data.OracleClient"/>
    <add name="HNBA_COMM" connectionString="SERVER=192.168.10.16;DATABASE=HNBA_COMM_TF;USER ID=MANUAL_DEBIT;PASSWORD=prodsql@2015;" providerName="System.Data.SqlClient"/>
    <add name="HNBA_COMM_TF" connectionString="SERVER=192.168.10.16;DATABASE=HNBA_COMM_NEW;USER ID=MANUAL_DEBIT;PASSWORD=prodsql@2015;" providerName="System.Data.SqlClient"/>
    <add name="MRP" connectionString="SERVER=192.168.10.12;DATABASE=MRP;USER ID=MANUAL_DEBIT;PASSWORD=prodsql@2011;" providerName="System.Data.SqlClient"/>
    <add name="MRPTKF" connectionString="SERVER=192.168.10.12;DATABASE=MRPTKF;USER ID=MANUAL_DEBIT;PASSWORD=prodsql@2011;" providerName="System.Data.SqlClient"/>
    <add name="MANUAL_DEBIT" connectionString="SERVER=192.168.10.16;DATABASE=MANUAL_DEBIT;USER ID=MANUAL_DEBIT;PASSWORD=prodsql@2015;" providerName="System.Data.SqlClient"/>
    <add name="BRANCH" connectionString="SERVER=192.168.10.232;DATABASE=HDO;USER ID=sa;" providerName="System.Data.SqlClient"/>
    <add name="SMS" connectionString="SERVER=192.168.10.176;DATABASE=sms;USER ID=sms_remote_user;password = 1qo+NP3Mph;" providerName="MySql.Data.MySqlClient"/>
    <add name="SMS_RPY" connectionString="SERVER=192.168.10.41;DATABASE=feed_back;USER ID=janaka;password = janaka;" providerName="MySql.Data.MySqlClient"/>
    <add name="MOI" connectionString="SERVER=192.168.10.200;DATABASE=ais;USER ID=janaka;" providerName="MySql.Data.MySqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ORACLE2" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString2" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString3" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString4" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString5" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString6" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString7" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString8" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString9" connectionString="Data Source=TESTCRC;User ID=iims_uwr;Password=iims;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="BANCASSURANCE" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString10" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString11" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString12" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString13" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString14" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString15" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString16" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString17" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ASSIGN_USER" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString18" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString19" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString20" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString21" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString22" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="COMPLETENEW" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="COMBOBOX" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString23" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="MRPWORKFLOW" connectionString="SERVER=192.168.10.12;DATABASE=MRP;USER ID=manual_debit;PASSWORD=prodsql@2011;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString24" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="MODE" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString25" connectionString="Data Source=TESTCRC;Persist Security Info=True;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="MRP_WF_CON_STRING" connectionString="Data Source=TESTCRC;User ID=hnba_crc;Password=HNBACRC;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="parramconnection_string" connectionString="Data Source=192.168.10.16;Initial Catalog=FIN_MI;Persist Security Info=True;User ID=MANUAL_DEBIT;Password=prodsql@2015" providerName="System.Data.SqlClient"/>
    <add name="MANUAL_DEBITConnectionString" connectionString="Data Source=192.168.10.16;Initial Catalog=MANUAL_DEBIT;User ID=MANUAL_DEBIT;pwd=prodsql@2015" providerName="System.Data.SqlClient"/>
    <add name="MANUAL_DEBITConnectionString1" connectionString="Data Source=192.168.10.16;Initial Catalog=MANUAL_DEBIT;User ID=MANUAL_DEBIT;pwd=prodsql@2015" providerName="System.Data.SqlClient"/>
    <add name="MANUAL_DEBITConnectionString2" connectionString="Data Source=192.168.10.16;Initial Catalog=MANUAL_DEBIT;User ID=MANUAL_DEBIT;pwd=prodsql@2015" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="81920" executionTimeout="36000"/>

    <sessionState mode="InProc" cookieless="true" timeout="90"/>
    <!--<sessionState timeout="60000"/>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="MySql.Data, Version=5.0.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
      <!--<deny users="? | *" />-->
    </authorization>
    <!--<identity impersonate="true" password ="Doc@1234" userName ="UATMERGE\docmgmt"/>-->
    <!--<identity impersonate=ue"true"/>-->
    <!--<identity impersonate="false" password="Titan#7891" userName="HNBA\spadmin" />-->
    <!--<customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <!--<customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>-->
    <httpHandlers>
      <!--<remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>-->
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <!--<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      <!-- <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
   validate="false" />-->
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <!--08-10-2013 add this code to update panel page redirect-->
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule,&#xA;     System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,&#xA;     PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
    <!--08-10-2013 add this code to update panel page redirect-->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="cc1"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="aspnet:UseLegacyBrowserCaps" value="true" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
      <add key="MessageClearAfter" value="3000" />
      <add key="MRPWorkflowCancelledStatuscode" value="23" />
      <add key="MRPWorkflowProcessingStatuscode" value="1" />
      <add key="MRPWorkflowPendingStatuscode" value="2" />
      <add key="MRPWorkflowFurtherMedicalStatuscode" value="4" />
      <add key="MRPWorkflowCoverNoteSent" value="10" />
      <add key="MRPWorkflowPPIStatuscode" value="16" />
      <add key="MRPWorkflowCertificateIssuedStatuscode" value="17" />
      <add key="MRPWorkflowPaymentsReceivedAndInformedToFinanceStatuscode"
        value="12" />
      <add key="MRPWorkflowPaymentUpdatedStatuscode" value="13" />
      <add key="MRPWorkflowExcessPremiumVoucherGeneratedStatusCode"
        value="19" />
      <add key="MRPWorkflowMedicalReimbursementStatusCode" value="20" />
      <add key="MRPWorkflowCompletedStatusCode" value="22" />
      <add key="MRPWorkflowPassedToUW" value="24" />
      <add key="MRPWorkflowConfirmationLetterSent" value="25" />
      <add key="MRPWorkflowRemindersPendingMedicalStatusCode" value="3" />
      <add key="MRPWorkflowReminderConfirmationLetterStatusCode" value="26" />
      <add key="MRPWorkflowAcceptedStatuscode" value="9" />
      <add key="MRPWorkflowSentToReinsuranceStatuscode" value="5" />
      <add key="MRPWorkflowReinsuranceReceivedStatuscode" value="6" />
      <add key="MRPWorkflowRemindersCovernoteStatusCode" value="11" />
      <add key="MRPWorkflowRemindersTypePendingReminderType" value="1" />
      <add key="MRPWorkflowRemindersTypeCoverNoteReminderType" value="2" />
      <add key="MRPWorkflowRemindersTypeConfirmationCoverReminderType"
        value="3" />
      <add key="MRPJobNoPrefix" value="JOB" />
      <add key="MCRJobNoPrefix" value="MCR" />
      <add key="MRPWFSinglePremiumPendingDocCode" value="3" />
      <add key="MRPUserCodes" value="17,21,63" />
      <add key="MRPManagerUserName" value="anuradha.ranasinghe,dinesh.udawatta" />
      <add key="MCRManagerUserName" value="anuradha.ranasinghe,dinesh.udawatta" />
      <add key="MRPWFMRPPolicyIssuedFormid" value="10" />
      <add key="MRPWFMRPAddNewPaymentFormid" value="12" />
      <add key="MRPWFMRPEditPaymentFormid" value="13" />
      <add key="MRPSupervisoUserCode" value="21" />
      <add key="MCRSupervisoUserCode" value="21" />
      <add key="LegalCourtReviewerUserCode" value="17" />
      <add key="LegalCourtCaseRefNo" value="LCC" />
      <add key="reviewerMailConfigName" value="REVIEWER" />
      <add key="MNBQAgent" value="Agent" />
      <add key="MNBQBroker" value="Broker" />
      <add key="MNBQDirect" value="Direct" />
      <add key="MNBQStatusRequestQuotation" value="1" />
      <add key="MNBQStatusReviseQuotation" value="2" />
      <add key="MNBQStatusModifyQuotation" value="3" />
      <add key="MNBQMotorCycleRiskType" value="MOTOR CYCLE" />
      <add key="MNBQMotorCarRiskType" value="MOTOR CAR" />
      <add key="MNBQMotorCoachRiskType" value="MOTOR COACH" />
      <add key="MNBQDualPurposeVehicleRiskType" value="DUAL PURPOSE VEHICLE" />
      <add key="MNBQPrivateUsage" value="PRIVATE" />
      <add key="MNBQRentUsage" value="RENT" />
      <add key="MNBQHiringUsage" value="HIRING" />
      <add key="MNBQRouteUsage" value="ROUTE" />
      <add key="MNBQMotorGuardProductCode" value="1" />
      <add key="MNBQMotorGuardExtraProductCode" value="2" />
      <add key="MNBQMotorCarRatePoint" value="7500000" />
      <add key="LegalLeasePositionHNBBuilding" value="10" />
      <add key="MRPWorkflowPregnancyClauseId" value="1" />
      <add key="MRPManagerEmail" value="anuradha.ranasinghe@hnbassurance.com" />
      <add key="MCRManagerEmail" value="anuradha.ranasinghe@hnbassurance.com" />
      <add key="MRPEmailAddress" value="mrp.workflow@hnbassurance.com" />
      <add key="MCREmailAddress" value="mcr.workflow@hnbassurance.com" />
      <add key="MRP_DOC_UPLOAD_LOCATION_URL" value="http://192.168.10.172:8082/mrp_docs" />
      <add key="MRPCode" value="MRP" />
      <add key="MCRCode" value="MCR" />
            <add key="REPORT_DB_SERVER_NAME" value="TESTCRC" />
    </appSettings>
  </location>
</configuration>
